<div class="flex justify-between flex-col  md:flex-row items-center py-6 ">

  <div>
    <form class="max-w-md mx-auto py-5 md:py-0" (input)="search()">
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search" [(ngModel)]="searchTerm" name="searchTerm"
          class="block w-[260px] p-4 ps-10 text-lg text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 focus:w-[380px] transition-all duration-[0.5s]"
          placeholder="Search.." required />

      </div>
    </form>

  </div>


  <div class="flex items-center gap-x-4 ">
    <select [(ngModel)]="selectedSort" (change)="sort()" class=" p-4 text-lg text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500
      focus:border-blue-500 w-full min-w-[200px]" id="sort-select">
      <option value="" disabled selected>Sort by</option>
      <option class="text-black" *ngFor="let list of sortList" [value]="list.value">{{list.name}}</option>
    </select>




  </div>


</div>
